.Header {
  height: 90px;
  background: #263238;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header-container {
  flex: 1;
  max-width: 700px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header h1 {
  margin: 0;
  color: white;
  font-weight: 300;
}

.User {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.User-logo {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 100%;
  padding: 8px;
  color: #263238;
}

.User-name {
  margin: 0;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: white;
}
